# Python virtual environment
venv/

# Bytecode files
__pycache__/
*.py[cod]

# Database files
*.sqlite3

# IDE/editor files
.vscode/
.idea/

# Log files
*.log

# MacOS
.DS_Store
"__pycache__/" 
"*.pyc" 
"db.sqlite3" 
".env" 
